*{
    margin: 0%;
    padding: 0%;
} 

body{
    background-color: #eeee;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 30px;
}

header{
    height: 280px;
}

header, main{
    max-width: 1000px;
    margin: auto;
    padding: 0%;
    border-width: 0px;
}

h1{
    font-size: 40px;
    font-style: arial;
    font-weight: bolder;
    color: #000000;
    left: 50%;   
}

p{
    font-size: 20px;
    margin: 15px;
    color: #2c363a;
    font-family: arial;
    text-align: center;
}

main{
    display: flex;
    justify-content: center;  
}

#mensajeIngresado, #mensajeEntregado{
    margin: 40px;
    background-color: #fff;
    border: 3px solid #000000;
    border-radius: 12px;
    font-family: arial; 
    text-align: center;
    color: #000000;
    font-weight: bold;
}

#offset{
    margin: 40px;
    margin-top: 100px;
    background-color: #fff;
    border: 2px solid #000000;
    position: absolute;
    top: 45%;
    right: 42%;
    font-family: arial; 
    text-align: center;
    font-weight: bold;
}

#botonCifrar, #botonDescifrar{
    margin: 10px;
    margin-top: 200px;
    width: 180px;
    background-color: #2ac2ff; 
    border-radius: 12px;
    font-size: 22px;
    font-family: arial;
    font-weight: bold;
    color: #000000;
    border: 3px solid #000000;
    padding: 6px;
}

footer{
    font-size: 20px;
    font-family: arial;
    background-color: #2ac2ff;
    color: #000000;  
    border: 2px solid #000000;
}

img{
    height: 130px    
}

#textoFooter{
    text-align: right;
    font-size: 20px;
    margin-right: 35px;  
}

/* 
Librería  (barrita)::-webkit-scrollb
::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #2ac2ff;
    border-radius: 50px;
    border: 3px solid #000000;
}

::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 20px;
    border: 3px solid #000000;
}  */
